[Desktop Entry]
Version=1.0
Type=Application
Name=FACES Media Station
Comment=Startet die FACES Media Station (V2)
Exec=/bin/bash -lc '/home/pi/pi_media_station/start.sh'
Icon=/usr/share/pixmaps/python.xpm
Terminal=false
Categories=AudioVideo;
StartupNotify=true
Path=/home/pi/pi_media_station/
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
