[Desktop Entry]
Version=1.0
Type=Application
Name=LZ Media Station
Comment=Startet die LZ Media Station (V2)
Exec=/bin/bash -lc '/home/pi/lz-media-station/start.sh'
Icon=/home/pi/lz-media-station/static/brand/icon-512.png
Terminal=false
Categories=AudioVideo;
StartupNotify=true
Path=/home/pi/lz-media-station/
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
